<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alboteanu.myapplicationdata">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.ActivitySignIn"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.CreateEmailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".login.CreatePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".screens.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.QuickContactActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".screens.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screens.EditActivity"
            android:label="@string/title_activity_edit_details"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".screens.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".screens.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>