<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alboteanu.myapplicationdata">

    <!--<uses-permission android:name="com.android.vending.BILLING" />-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.SignInGoogleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.SignInEmailActivity"
            android:label="@string/label_activity_email_sign_in"
            android:parentActivityName=".login.SignInGoogleActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".login.CreateEmailActivity"
            android:label="@string/account_email"
            android:parentActivityName=".login.SignInEmailActivity" />
        <activity
            android:name=".login.CreatePasswordActivity"
            android:label="@string/account_password"
            android:parentActivityName=".login.SignInEmailActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditActivity"
            android:label="@string/title_activity_edit_details"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alboteanu.myapplicationdata.MainActivity" />
        </activity>
        <activity android:name=".BaseActivity" />

    </application>

</manifest>